@charset "UTF-8";

// 変数
$cubic: "cubic-bezier(.77,.06,.28,.85)";

// 共通化できるコード
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #efefef;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Darumadrop One', cursive;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Source Serif Pro', serif;
}

.container {
  max-width: calc(100% - (25px * 2));
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #efefef;
}

.more-wrapper {
  margin: 30px auto;
  width: 150px;
  text-align: center;
  display: block;
  border: 1px solid #efefef;
  border-radius: 40px;
  padding: 15px 30px;

  & .more {
    display: inline;
    font-size: 13px;
    position: relative;
    background-image: linear-gradient(#efefef, #efefef); /* 単色 */
    background-size: 0 1px; /* 幅(0=見えない状態) | 高さ(=線の太さ) */
    background-position: bottom right; /* 右下に配置 */
    background-repeat: no-repeat;
    padding-bottom: 2px;
    transition: background-size cubic-bezier(.215,.61,.355,1) .3s;

    // &::before {
    //   display: block;
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   right: -40%;
    //   background-color: #efefef;
    //   transform: translateY(-50%);
    //   background: url(../images/east_white_24dp.svg) no-repeat;
    //   background-position: center;
    //   background-size: contain;
    //   width: 15px;
    //   height: 15px;
    //   border-radius: 50%;
    //   border: 1px solid #efefef;
    // }

    &:hover {
      background-size: 100% 1px; /* 幅(100%=文字の長さ) | 高さ(=線の太さ) */
      background-position: bottom left;  /* 左下に配置 */
    }
  }
}

.section-headline-wrapper {
  text-align: center;

  & .section-headline {
    position: relative;
    margin: 40px auto;
    padding: 20px 0;
    // font-family: 'Darumadrop One', cursive;
    // font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Noto Sans JP', sans-serif;
    // font-family: 'Noto Serif JP', serif;
    // font-family: 'Source Serif Pro', serif;
    // font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 30px;
  

    &::before {
      display: block;
      content: "";
      width: 40px;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #efefef;
    }
  }
}

.en {
  // font-family: 'Darumadrop One', cursive;
  // font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Noto Serif JP', serif;
  // font-family: 'Source Serif Pro', serif;
  // font-family: 'Julius Sans One', sans-serif;
  // font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}


// header
.header {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    & .header-logo-area {

      & a {
        text-align: center;
        background-color: transparent;
        display: flex;
        align-items: flex-end;

        & .header-logo {
          display: block;
          width: 30px;
          height: auto;
          margin-right: 10px;
        }
  
        & .header-logo-text {
          font-size: 20px;
        }
      }
    }
  
    & .header-nav-area {
    
      & .header-nav-list {
        display: none;

        
      }
    }

    
  }
}

// humburger 

#burger-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index:200;
  transition: all 0.5s ease;
  transform: scale(0.85);
  cursor: pointer;

  & div {
    position: relative;
    height: 5px;
    margin-bottom: 7px;
    width: 40px;
    background-color: #efefef;
    transition: all 0.5s ease;
    box-shadow: 1px 1px 2px #222;
  }

  &:hover > div:nth-child(odd){
    width:35px;
  }

  &:hover > div:nth-child(even){
    width:25px;
  }

  &.clicked {

    &:hover > div {
      width: 40px;
    } 

    & div:nth-child(1) {
      transform: rotate(45deg);
      top: 12px;
    }

    & div:nth-child(2) {
      opacity: 0;
    }

    & div:nth-child(3) {
      transform: rotate(-45deg);
      top:-12px;
    }
  }
}

// burger-menu

#burger-menu {
  position:fixed;
  top:0px;
  left: -50%;
  width: 45%;
  height: 100vh;
  z-index: 98;
  background: #efefef url(../images/brick-wall-dark.png);
  transition: all 0.75s #{$cubic};

  & .burger-menu-inner {
    height: 100%;

    & .burger-list-area {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      & .burger-list {

        & li {
          overflow: hidden;
          
          & a {
            transform: translateY(-20px);
            opacity: 0;
            transition: all 1.4s ease-in-out;
            font-size: 25px;
            color: #333;
          }
        }
    
        & li + li {
          margin-top: 20px;
        }
      }
    }
  }

  &.open {
    left: 0;
    width: 50%;
    z-index: 101;

    & .burger-menu-inner {
      padding: 30px;
      width: 100%;
      height: 100%;


      & .burger-list-area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        & .burger-list {

          & li {
            overflow: hidden;
            
            & a {
              display: block;
              transform: translateY(0);
              opacity: 1;
              font-size: 25px;
              color: #333;
            }
          }
  
          & li + li {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.right {
  transition: all 0.75s cubic-bezier(.77,.06,.28,.85);

  &.move {
    transform: translateX(20%);
  }
}

// main
.main {
  background: #111 url(../images/gravel.png);
  color: #efefef;

  // main-visual
  & .main-top {
    position: relative;

    & .main-visual {
      width: 100vw;
      height: 100vh;
      margin: auto;
      overflow: hidden;

      & .main-visual-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .cover {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - (20px * 2));
  
      & .cover-inner {
        padding: 10px;
        color: #efefef;
        text-align: center;
        
  
        & .cover-ttl-wrapper {
          
          & .cover-ttl {
            font-size: 50px;
          }
        }
        
        & .cover-txt-wrapper {
          padding: 10px 8px;

          & .cover-txt {
            font-size: 23px;
          }
        }
      }    
    }
  }

  // TOPIC
  & .topic {
    margin-bottom: 20px;
    padding: 50px 0;
    width: 100%;
    

    & .topic-slide {
      margin: 0 auto;
      width: 100%;

      & .topic-slide-item {
        margin: 0 10px;

        & .slide-img {
          height: auto;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
        }

        & .slide-txt-area {
          text-align: center;
          margin-top: 20px;
          color: #efefef;

          & .slide-txt {
            font-size: 14px;
          }
        }
      }
    }
  }


  // MENU
  & .menu {
    margin-bottom: 60px;
    text-align: center;

    & .menu-inner {

      & .menu-list {
        display: flex;
        flex-direction: column;

        & .menu-item {
          border-radius: 10px;
          overflow: hidden;
        }

        & .menu-item  + .menu-item  {
          margin-top: 40px;
        }

        & .menu-item2 {
          display: none;
        }

        & .menu-item3 {
          display: none;
        }

        & .menu-item6 {
          display: none;
        }
      }

      & .menu-description {
        width: 100%;
        margin-top: 80px;
        text-align: center;
        }
    }
  }

  // ABOUT
  & .about {
    background: #efefef url(../images/brushed-alum.png);
    color: #333;

    & .appearance {
      padding-top: 40vh;
      position: relative;
      overflow: hidden;

      & div {
        background: url(../images/cafe-gourmande-258201_1920.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -20vh;
        left: 0;
        width: 100%;
        height: 70vh;
      }
    }

    & > .container {

      & .about-inner {
        padding: 30px 0 70px;

        & .section-headline-wrapper {

            & .section-headline {
              
              &::before {
                border-top: 2px solid #333;
                border-left: 2px solid #333;
              }
              
              &::after {
                border-bottom: 2px solid #333;
                border-right: 2px solid #333;
              }
            }
        }

        & .layout {
          display: flex;
          flex-direction: column;


          & .about-map {
            width: 100%;
            margin-bottom: 30px;

            & iframe {
              width: 100%;
              height: 300px;
              margin: 0 auto;
              border: 3px solid #111;
              border-radius: 10px;
            }
          }

          & .about-content {
            padding: 0 30px;
            
            & .about-content-item {
              margin-bottom: 20px;

              & .about-content-head {
                padding: 5px 10px;
                margin-bottom: 5px;

                & P {
                  display: inline-block;
                  font-size: 18px;
                  position: relative;

                  &::before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -20px;
                    background-color: #333;
                    width: 10px;
                    height: 1px;
                  }
  
                  &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -20px;
                    background-color: #333;
                    width: 10px;
                    height: 1px;
                  }
                }
              }

              & .about-content-body {

                & p {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  // GOODS
  .goods {

    & > .container {

      & .goods-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;

        & .goods-item {
          padding: 0 0 0 30px;
          border-left: 1px solid #efefef;

          & .goods-item-img {
            overflow: hidden;
            border-radius: 10px;
          }

          & .goods-item-description {
            margin-top: 20px;
          }
        }

        & .goods-item + .goods-item {
          margin-top: 60px;
        }          
      }

        // & .goods-main-txt {

        // }
    }
  }

  & .sns {
    text-align: center;
    min-height: 500px;

    & > .container {

      & .section-main-text {
        margin-bottom: 30px;
      }

      & .sns-inner {

        & .insta-area {
          margin-bottom: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 40px;

          & .insta-logo {

            & img {
              width: 60px;
              height: auto;
              margin: 0 0 0 -4px;
            }
          }
        }

        & .twitter-area {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 40px;

          & .twitter-logo {

            & img {
              width: 60px;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

// footer
.footer {
  padding: 25px 0;

  & .container {
    text-align: center;

    & small {
      color: #333;
    }
  }
}

// reserve.html
.detail {
  padding: 0 0 80px;

  & .d-main-visual {
    width: 100%;
    height: 30vh;
    background: url(../images/d-main-visual.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .container {

    & .section-main-text {
      text-align: left;
      margin-bottom: 30px;
    }

    & .time-table {
      width: 100%;
      margin-bottom: 40px;
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      border-radius: 10px;
      overflow: hidden;

      & li {
        text-align: center;
        font-size: 12px;
        padding: 5px;
        border-bottom: 1px solid #efefef;


        &:first-child {
          padding: 10px 20px;
          font-size: 16px;
          color: #333;
          background-color: #efefef;
        }
      }
    }

    & .reserve-form {
      border: 1px solid #efefef;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 50px;

      & table {
        margin: 0 auto;
        width: 100%;

        & tr {
          display: flex;
          flex-direction: column;
          padding: 0 0 20px 0;

          & th {
            text-align: left;
            padding: 5px;

            & label {
              font-size: 14px;
            }
          }

          & td {
            padding: 5px;

            & .input-text ,#textarea, .select {
              width: 100%;
              padding: 5px;
              font-size: 14px;
              border-radius: 5px;
              border: 2px solid #efefef;
            }

            & .input-text {
              width: 100%;
            }

            & .radio + .radio {
              margin-left: 20px;
            }
          }
        }
      }

      & button {
        display: block;
        margin: 0 auto;

        & .form-btn {
          display: block;
          padding: 5px; 
          font-size: 14px;
        }
      }
    }
  }

  & .about-map {
    width: 100%;

    & iframe {
      width: 100%;
      height: 200px;
      border-radius: 10px;
    }
  }

  .footer {
    padding: 25px 0;
  
    & .container {
      text-align: center;
  
      & small {
        color: #333;
      }
    }
  }

}

// goods.html
.detail {

  & .d-main-visual {
    width: 100%;
    height: 40vh;
    background: url(../images/d-main-visual.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  & .container {
    max-width: calc(100% - (15px * 2));


    & .tabs {

      & .tab-nav {
        display: flex;
        gap: 20px;

        & .tab-nav-item {
          background-color: #efefef;
          border-radius: 5px;
          color: #333;
          padding: 10px 20px;
          margin-bottom: 30px;

          &.active {
            background-color: #333;
            color: #efefef;
          }
        }
      }

      & .tab-contents {

        & .tab-contents-item {
          display: none;
          
          & ul {

            & li {
              padding: 20px;
              display: flex;
              flex-direction: column;
              border-left: 1px solid #efefef;
  
              & figure {
                margin-bottom: 10px;
                border-radius: 5px;
                overflow: hidden;

                & img {
                  height: 100%;
                  object-fit: cover;
                  filter: grayscale(0);
                  transition: all .4s;

                  &:hover {
                  filter: grayscale(100%);
                  transform: scale(1.2);
                  }
                }
              }

              & figcaption {
                display: flex;
                gap: 15px;

                & .goods-item-titile {
                  font-size: 14px;
                }

                & .goods-item-price {
                  font-size: 14px;
                }
              }
            }

            & li + li {
              margin-top: 40px;
            }
          }
        }
      }
    }
  }
}

// menu.html
.detail {

  & .container {

    & .d-menu-list {

      & .d-menu-item {
        padding: 20px;
        border-left: 1px solid #efefef;

        & figure {
          margin-bottom: 10px;
          border-radius: 5px;
          overflow: hidden;

          & img {
            filter: grayscale(0);
            transition: all .4s;

            &:hover {
            filter: grayscale(100%);
            transform: scale(1.2);
            }
          }
        }
        
        & figcaption {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 0 10px;

          & .menu-item-titile {
            font-size: 16px;
          }
          
          & .menu-item-price {
            font-size: 16px;
          }
        }
      }

      & .d-menu-item  + .d-menu-item  {
        margin-top: 40px;
      }
    }
  }
}









































